<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="database_connection.Properties.Settings.datasetsConnectionString"
            connectionString="Data Source=hddnas.ddns.net,1300;Initial Catalog=datasets;User ID=sa;Password=Myrmarache31415!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>